adguard.json
[{"id":"9967ecb3.633af","type":"tab","label":"Internet Control","disabled":false,"info":""},{"id":"28ec2a3.4f78fd6","type":"api-call-service","z":"9967ecb3.633af","name":"Disable Epicgames","server":"d231802.1e05c8","version":1,"debugenabled":false,"service_domain":"adguard","service":"add_url","entityId":"","data":"{\"name\":\"Epicgames block\",\"url\":\"https://raw.githubusercontent.com/Milney-Smart-Automation/AdGuard/main/epicgames.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":60,"wires":[[]]},{"id":"5b0b5aa5.b2b034","type":"api-call-service","z":"9967ecb3.633af","name":"Enable Epicgames","server":"d231802.1e05c8","version":1,"debugenabled":true,"service_domain":"adguard","service":"remove_url","entityId":"","data":"{\"url\":\"https://raw.githubusercontent.com/Milney-Smart-Automation/AdGuard/main/epicgames.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":140,"wires":[[]]},{"id":"f09093d.bef6f7","type":"trigger-state","z":"9967ecb3.633af","name":"","server":"d231802.1e05c8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.fortnite_manager","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":100,"wires":[["28ec2a3.4f78fd6"],["5b0b5aa5.b2b034"]]},{"id":"f9341c41.e2c748","type":"api-call-service","z":"9967ecb3.633af","name":"Disable Facebook","server":"d231802.1e05c8","version":1,"debugenabled":false,"service_domain":"adguard","service":"add_url","entityId":"","data":"{\"name\":\"Epicgames block\",\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-facebook.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":200,"wires":[[]]},{"id":"91a370d3.a4d35","type":"api-call-service","z":"9967ecb3.633af","name":"Enable Facebook","server":"d231802.1e05c8","version":1,"debugenabled":true,"service_domain":"adguard","service":"remove_url","entityId":"","data":"{\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-facebook.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":280,"wires":[[]]},{"id":"3412e1cc.81462e","type":"trigger-state","z":"9967ecb3.633af","name":"","server":"d231802.1e05c8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.facebook_manager","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":240,"wires":[["f9341c41.e2c748"],["91a370d3.a4d35"]]},{"id":"3f399ead.45a542","type":"api-call-service","z":"9967ecb3.633af","name":"Disable Instagram","server":"d231802.1e05c8","version":1,"debugenabled":false,"service_domain":"adguard","service":"add_url","entityId":"","data":"{\"name\":\"Instagram block\",\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-Instagram.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":340,"wires":[[]]},{"id":"d1c0db1d.6eb318","type":"api-call-service","z":"9967ecb3.633af","name":"Enable Instagram","server":"d231802.1e05c8","version":1,"debugenabled":true,"service_domain":"adguard","service":"remove_url","entityId":"","data":"{\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-Instagram.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":420,"wires":[[]]},{"id":"f794ad1e.ba2b58","type":"trigger-state","z":"9967ecb3.633af","name":"","server":"d231802.1e05c8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.instagram_manager","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":380,"wires":[["3f399ead.45a542"],["d1c0db1d.6eb318"]]},{"id":"76330edb.1103e","type":"api-call-service","z":"9967ecb3.633af","name":"Disable tiktok","server":"d231802.1e05c8","version":1,"debugenabled":false,"service_domain":"adguard","service":"add_url","entityId":"","data":"{\"name\":\"Epicgames block\",\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-tiktok.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":480,"wires":[[]]},{"id":"d053da30.0b7a7","type":"api-call-service","z":"9967ecb3.633af","name":"Enable tiktok","server":"d231802.1e05c8","version":1,"debugenabled":true,"service_domain":"adguard","service":"remove_url","entityId":"","data":"{\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-tiktok.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":560,"wires":[[]]},{"id":"cac1c59a.ff1328","type":"trigger-state","z":"9967ecb3.633af","name":"","server":"d231802.1e05c8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.tiktok_manager","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":520,"wires":[["76330edb.1103e"],["d053da30.0b7a7"]]},{"id":"13d40894.4a164f","type":"api-call-service","z":"9967ecb3.633af","name":"Disable whatsapp","server":"d231802.1e05c8","version":1,"debugenabled":false,"service_domain":"adguard","service":"add_url","entityId":"","data":"{\"name\":\"whatsapp block\",\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-facebook.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":620,"wires":[[]]},{"id":"7ee74552.5e928c","type":"api-call-service","z":"9967ecb3.633af","name":"Enable whatsapp","server":"d231802.1e05c8","version":1,"debugenabled":true,"service_domain":"adguard","service":"remove_url","entityId":"","data":"{\"url\":\"https://github.com/gieljnssns/Block_facebook_dns/raw/master/adguard-facebook.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":700,"wires":[[]]},{"id":"240ea857.8e35e","type":"trigger-state","z":"9967ecb3.633af","name":"","server":"d231802.1e05c8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.whatsapp_manager","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":660,"wires":[["13d40894.4a164f"],["7ee74552.5e928c"]]},{"id":"4f174b6d.922ecc","type":"api-call-service","z":"9967ecb3.633af","name":"Disable Youtube","server":"d231802.1e05c8","version":1,"debugenabled":false,"service_domain":"adguard","service":"add_url","entityId":"","data":"{\"name\":\"youtube block\",\"url\":\"https://raw.githubusercontent.com/Milney-Smart-Automation/AdGuard/main/youtube.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":760,"wires":[[]]},{"id":"212439f.d7b93c6","type":"api-call-service","z":"9967ecb3.633af","name":"Enable Youtube","server":"d231802.1e05c8","version":1,"debugenabled":true,"service_domain":"adguard","service":"remove_url","entityId":"","data":"{\"url\":\"https://raw.githubusercontent.com/Milney-Smart-Automation/AdGuard/main/youtube.txt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":840,"wires":[[]]},{"id":"f8479bca.e96d18","type":"trigger-state","z":"9967ecb3.633af","name":"","server":"d231802.1e05c8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.youtube_manager","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":800,"wires":[["4f174b6d.922ecc"],["212439f.d7b93c6"]]},{"id":"d231802.1e05c8","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
